:root {
    --table-odd: rgb(176, 212, 198);
    --table-even: rgb(217, 240, 231);
    --primary-color: darkslategrey;
    --secondary-color: rgb(255, 253, 250);

}

body {
    background-color: var(--secondary-color);
}

th, tr, td {
    border: 1px solid black;
}

.table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main-content {
    max-width: 80vw;
    margin: 30px auto auto auto;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.input-container > input {
    width: 19%;
    
}

.employees-container {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.bg-primary-custom {
    background-color: var(--primary-color);
}

.text-light {
    color: var(--body-color);
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.delete-cell {
    display: flex;
    justify-content: center;
}

.delete-button {
    justify-self: center;
}

#header {
    padding: 10px;
    margin-bottom: 10px;
}

#submit-button {
    margin-top: 5px;
    font-size: 140%;
}


/*
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: var(--table-odd); // Choose your own color here
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: var(--table-even); // Choose your own color here
 }
*/
